.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.loader {
  display: block;
  position: relative;
  height: 12px;
  width: 80%;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;
}
.loader::after {
  content: '';
  width: 40%;
  height: 100%;
  background: #ff3d00;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

@keyframes animloader {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}

.section {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-control {
  display: flex;
  align-items: center;
}
.section-input {
  width: 272px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: left;
  padding: 7px 16px 7px 16px;
  outline: none;
  border: none;
  border: 1px solid #808080;
  border-radius: 4px;
}
.section-input:hover {
  border-color: #000000;
}
.section-input:active {
  border-color: #4e75ff;
}

.section-btn {
  margin-left: 8px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: left;
  color: #ffffff;
  width: 91px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 8px;
  opacity: 0px;
  background-color: #4e75ff;
  border: none;
}
.section-btn:hover {
  background-color: #6c8cff;
}
.section-text {
  margin-top: 32px;
  display: block;
}
.section-text.hidden {
  display: none;
}

.section-list {
  margin: 0 auto;
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

@media screen and (max-width: 375px) {
  .section-list {
    padding: 5px;
    max-width: 360px;
  }
}
@media screen and (max-width: 1440px, min-width: 375px) {
  .section-list {
    max-width: 705px;
  }
}
@media screen and (min-width: 1440px) {
  .section-list {
    max-width: 1192px;
  }
}
.section-item {
  position: relative;
}
.section-link {
}

.section-img {
  width: 360px;
  height: 200px;
  position: relative;
}
.section-img:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: transform 250ms ease;
}
.section-soc {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #808080;
  background-color: #ffffff;
  padding: 4px 25px;
  display: flex;
  justify-content: space-between;
}
.section-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #2e2f42;
  font-size: 12px;
  letter-spacing: 0.04em;
  max-height: 40px;
}
.section-props {
  font-weight: 600;
  line-height: 1.33;
  text-align: center;
}
.section-props-count {
  font-weight: 400;
  line-height: 2;
  text-align: center;
}
